
.mobileOnly{
        display: none;
    }

.bold{
    font-weight:700;
}

.navigation{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translateY(0%);
    transition: 0.5s;
    z-index: 2;
    background-color: rgba(22, 218, 0, 0.881);
    box-shadow: 1px 2px 10px 2px #ffffff2f;
}


body{
    background-color: rgb(215, 234, 209)
}

*{
    color: #ffffff;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mainNavBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navBtn{
    padding: 0rem 1rem 0rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.5s;
    font-weight: 525;
}

.navBtn:hover{
    box-shadow: inset 0px 0px 10px 1px #000000aa;
    padding: 0rem 2.5rem 0rem 2.5rem;
    cursor: pointer;
}

.block1{
    width: 100%;
    height: 160vh;
    background-image: url("lpicture.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 1px 1px 10px 2px #2c2c2c;
}

.block1::before{
    content: '';
    background: #00000096;
    width: 100%;
    height: 100%;
    position: absolute;
}

.schoolLogoText{
    background-color: rgba(255, 255, 255, 0.632);
    width: 100%;
    height: 9.8vh;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #076f00;
    font-size: 2.5rem;
    text-shadow: 1px 2px 10px #000000c0;
    text-align: center;
}

.schoolLogo{
    position: sticky;
    top: 24%;
    margin-bottom: 10%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logo{
    width: 10%;
    height: auto;
    margin-bottom: 0.8rem;
}

.SLTBottomTxt{
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(254, 254, 0);
    text-shadow: 1px 2px 10px #000000eb;
    letter-spacing: 0.7rem;
    text-align: center;
}

.navLogo{
    margin-left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Account{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.Account .navBtn{
    padding: 0rem 0.5rem 0rem 0.5rem;
    width: 50%;
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: rgb(255, 220, 174);
    width: 70%;
    margin: 3rem auto; 
    border: 3px solid #076f00;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    transition: 0.3s;
}

.introduction:hover{
    box-shadow: 0px 0px 5px 5px #ffffff8c;
    padding: 2rem 2rem 2rem 2rem;
}

.greeting{
    font-size: 2.5rem;
    color: rgb(7, 111, 0);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 2px 10px #0000005f;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-align: center;
}

.greetingSubTxt{
    text-align: center;
    margin-top: 1.5rem;
    width: 90%;
    font-size: 1.5rem;
    font-family: arial;
    color: #000000;
    font-weight: 525;
    
}

.DepedMVCV{
    width: 90%;
    background-color: #076f00;
    box-shadow: 1px 1px 10px 2px #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 1rem auto; 
    border-radius: 5px;
}

.line{
    width: 50%;
    transition: 0.3s;
}

.DepedMVCV:hover .line{
    width: 90%;
}

.DepedMVCVTitle{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 2rem;
    text-shadow: 1px 2px 10px #00000095;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    text-align: center;
}

.MVCV{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.MVCVBoxes{
    text-shadow: 1px 2px 10px #00000095;
    text-align: center;
    width: 25%;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.MVCVBoxes:hover{
    box-shadow: 0px 0px 20px 5px #ffffff;
    padding: 1.7rem;
}

p{
    font-size: 1rem;
    margin-top: 1rem;
}

.programs{
    width: 90%;
    background-color: #173eec;
    box-shadow: 1px 1px 10px 2px #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 1rem auto; 
    margin-top: 5rem;
    border-radius: 5px;
}

.programs:hover .line{
    width: 90%;
}

.programTitle{
    font-size: 2rem;
    margin: 2rem 0rem;
    text-shadow: 1px 2px 10px #00000095;
        text-align:center;
}

.program1{
    text-align: left;
    width: 80%;
    margin-top: 1.5rem;
    padding: 2rem;
    font-size: 1.2rem;
    border: 1px solid #fff;
    border-radius: 10px;
    letter-spacing: 0.2rem;
    transition: 0.3s;
}

.program1:hover{
        padding: 3rem;
}

.program1desc{
    width: 90%;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    font-weight: 525;
    letter-spacing: 0.1rem;
    text-shadow: 1px 2px 10px #00000095;
}

.program2desc{
    width: 90%;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    font-weight: 525;
    letter-spacing: 0.1rem;
    text-shadow: 1px 2px 10px #00000095;
}

.program2{
    text-align: left;
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 2rem;
    font-size: 1.2rem;
    border: 1px solid #fff;
    border-radius: 10px;
    letter-spacing: 0.2rem;
    transition: 0.3s;
}

.program2:hover{
        padding: 3rem;
}

.ending{
    width: 100%;
    background-color: rgb(0, 50, 6);
    padding: 1rem 0rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.endlogo{
    width: 30%;
    height: auto;
}

.endlogodeped{
    width: 50%;
    height: auto;
}

.local{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Deped{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px){
        .schoolLogoText{
        font-size: 1.6rem;
        text-align: center;
    }
    .SLTBottomTxt{
        font-size: 0.7rem;
        text-align: center;
    }

        .MVCV{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .MVCVBoxes{
        width: 80%;
        margin: 2rem 0rem;
    }
}

@media (max-width: 600px){
    .mainNavBtns{
        display: block;
    }
    .mainNavBtns{
        display: none;
    }
    .container{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .Account{
        margin-left: auto;
    }
    .schoolLogoText{
        font-size: 1.5rem;
        text-align: center;
    }
    .SLTBottomTxt{
        font-size: 0.7rem;
        text-align: center;
    }
    #logo{
        width: 20%;
        height: auto;
    }
    .MVCV{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .MVCVBoxes{
        width: 80%;
        margin: 2rem 0rem;
    }

    .program1:hover{
        padding: 2.5rem;
}

    .program2:hover{
        padding: 2.5rem;
}
.local{
    margin-left: 1rem;
}

}
